<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>
    <h1 class="title">Index</h1>
    <%- include('./partials/nav.ejs') %>
      <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, facere blanditiis! Id, iste. Inventore sequi
          commodi ex magnam id, iusto, quia est enim esse recusandae deserunt, doloremque cupiditate dolorum tempore.
        </p>
      </div>
      <%- include('./partials/footer.ejs') %>
  </body>

</html>
